
/* background  */

body{
    /* background-image : linear-gradient(rgb(251, 181, 52),rgba(189, 128, 16, 0.702),rgba(225, 176, 84, 0.939)); */
    color: whitesmoke;
    font-size: 20px;
    transition: background-color 2s ease-in;
    
}
/* ToDo app structure */

#interface{
    background-color: white;
}
/* input menu */
.input-field{
    background-color: rgb(48, 215, 95);
    display: flex;
    justify-content: center;
    padding: 15px;
}
#input-box{
    padding: 10px;
    width: 500px;

}
#set-btn{
    padding: 10px;
    margin-left: 5px;
    width:70px;
    border-radius: 5px;
    background-color: rgba(43, 171, 226, 0.959);
    color: whitesmoke;
    cursor: pointer;
}
/* list */
.list-container{
    background-color: rgb(48, 215, 95);
}
ul{
    padding: 0px;

}
.oneData{
    display: flex;
    border: 5px solid;
    padding-top: 15px;
    padding-bottom: 15px;
}
.oneData li{
    list-style-type: none;
    padding: 10px;
    padding-left: 20px;
}

.done,.edit,.cancel{
    margin-left: 10px;
    padding: 15px;
    background-image: radial-gradient(rgb(238, 230, 230),white,rgb(88, 120, 40));
    border-radius: 30px;
    cursor: pointer;
}
.buttons{
    position: absolute;
    right: 0;
}
 