/* display to do app */
.screen{
    border: 3px solid;
    border-bottom: 4px solid;
    border-color: rgba(41, 108, 5, 0.82);
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    background: rgb(202, 247, 21);
}
/* task entering tab section */
.body{
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: center;


}
#textbox{
    padding: 10px;
    width: 400px;
}
#btn{
    background-image: linear-gradient(50deg,green,pink,yellow);
    padding: 10px;
    margin-left: 5px;
    border-radius: 4px;
    width: 70px;

}
/* task entering tab finished */

/* list odf tasks tab */
.myList{
    display: flex;
    

}


li{
    list-style: none;
    background-image: linear-gradient(30deg,red,yellow,orange);
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
}
.button1,.button2{
    border-radius: 10px;
    margin: 10px;
    background-image: url(./assets/images/btntexjpeg.jpeg);
    color: rgb(4, 255, 121);
    font-size: 20px;
}